/* imports */

@import "IncFont.css"; 

/* global settings */

:root{
    --bg-col: #141925;
    --child-col: #232e49c4;
    --logo-col: #D9D9D9;
    --logo-bottom-col: #4296d1;
    --button-col: #191e2b;
    --button-text-col: #D9D9D9;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-col);
    text-decoration:none;
}

::-moz-selection {
    color: var(--logo-bottom-col);
    background: var(--bg-col);
}

::selection {
    color: var(--logo-bottom-col);
    background: var(--bg-col);
}

.shadow-blue{
    text-shadow: 0px 0px 7px #08395c;
}

/* top container */

.top-container{
    -webkit-box-shadow: 0 0 30px 1px #14222cc4 inset;
    -moz-box-shadow: 0 0 30px 1px #14222cc4 inset;
    box-shadow: 0 0 30px 1px #14222cc4 inset;

    background-color: var(--child-col);
    min-height: 100%;
    border-radius: 5px;
    height: calc(70px);
    padding: 15px;
    margin: 2% 20% 0 20%;
}

.top-left{
    display: flex;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 60%;
}

.top-right{
    float: right;
    width: 40%;
}

.logo-color{
    color: var(--logo-col);
    font-family: QuicksandBold;
}

.logo-bottom-color{
    color: var(--logo-bottom-col);
    font-family: QuicksandBold;
}

.img-style{
    float: left;
    margin: 2px 10px 2px 2px;
}

.img-anim:hover {
    -webkit-animation: flashing 1s ease 1;
    animation: flashing 1s ease 1;
}

/* main container */

.main-container{
    -webkit-box-shadow: 0 0 30px 1px #14222cc4 inset;
    -moz-box-shadow: 0 0 30px 1px #14222cc4 inset;
    box-shadow: 0 0 30px 1px #14222cc4 inset;
    
    background-color: var(--child-col);
    min-height: 100%;
    border-radius: 5px;
    padding: 15px 15px 10% 15px;
    margin: 15px 20% 0 20%;
}

.promotion-container{
    margin: calc(100px) 0 0 calc(20px);
    padding: 50px 50px 50px 18%;
    background-image: url(../img/Illustration.png);
    background-repeat:no-repeat;
    background-position: 75% 75%;
    background-size: 30%;
}

/* footer container */

.footer-container{
    -webkit-box-shadow: 0 0 30px 1px #14222cc4 inset;
    -moz-box-shadow: 0 0 30px 1px #14222cc4 inset;
    box-shadow: 0 0 30px 1px #14222cc4 inset;
    
    
    display: flex;
    box-sizing: border-box;
    display: block;
    background-color: var(--child-col);
    min-height: 100%;
    border-radius: 5px;
    padding: 0 15px 10px 15px;
    margin: 15px 20% 0 20%;
    height: calc(80px);
}

.footer-center{
    width: 100%;
}

/* button */

.button-login{
    border: none;
    float: right;
    color: var(--button-text-col);
    background-color: var(--button-col);
    font-family: ArimoSemiBold;
    font-size: 90%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.3s;
}

.button-login:hover{
    border: none;
    float: right;
    color: var(--button-text-col);
    background-color: transparent;
    font-family: ArimoSemiBold;
    font-size: 90%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #4296d1a9;
    opacity: 1;
}

.button3{
    display: block;
    border: none;
    appearance: none;
    border:0px;
    outline:0px;
    color: #D9D9D9;
    background-color: transparent;
    border: 2px solid black;
    padding: 11px 35px;
    font-family: ArimoSemiBold;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 0.5em;
    margin-left: 0%;
    margin-right: 90px;
    text-shadow: 2px 2px 4px #0000005b;
    border-color: #385cb1;
    font-size: 14px;
    opacity: 1;
    transition: 0.3s;
}

.button3:hover {
    display: block;
    border: none;
    appearance: none;
    border:0px;
    outline:0px;
    color: #D9D9D9;
    background-color: #385cb1;
    border: 2px solid black;
    padding: 11px 35px;
    font-family: ArimoSemiBold;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 0.5em;
    margin-left: 0%;
    margin-right: 90px;
    text-shadow: 2px 2px 4px #0000005b;
    box-shadow: 1px 2px 10px #08395c;
    border-color: #385cb1;
    font-size: 14px;
    opacity: 1;
  }
